@model MyUser
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Form.cshtml";
}



<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard

* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com
=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>



<body class="bg-default">  
    <!-- Main content -->
    <div class="main-content">
        <!-- Header -->
        <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
            <div class="container">
                <div class="header-body text-center mb-7">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                            <h1 class="text-white">Welcome!</h1>
                            <p class="text-lead text-white"> Enter Below Details To Sign Up</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>
        <!-- Page content -->
        <div class="container mt--8 pb-5">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7">
                    <div class="card bg-secondary border-0 mb-0">
                        
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <strong>Sign Up</strong>
                            </div>
                            <form action="/Users/AddDetails" method="post">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            
                                        </div>                                        
                                        
                                        <input type="text" asp-for="@Model.Username" placeholder="Enter User Name" class="form-control" />
                                       
                                    </div>
                                    <span asp-validation-for="@Model.Username" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-merge input-group-alternative">                                        

                                        <input type="Password" asp-for="@Model.Password" pattern="((?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])|(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[^a-zA-Z0-9])|(?=.*?[A-Z])(?=.*?[0-9])(?=.*?[^a-zA-Z0-9])|(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^a-zA-Z0-9])).{8,}$" title="Password must contain Minimum 8 characters, including at least 1 uppercase letter, at least 1 lowercase letter, at least one number and a special character." placeholder="Enter Password" class="form-control" />
                                        
                                    </div>
                                   
                                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-merge input-group-alternative">

                                        <input type="text" asp-for="@Model.Firstname" placeholder="First Name" class="form-control" />
                                       
                                    </div>
                                    <span asp-validation-for="@Model.Firstname" class="text-danger"></span>
                                </div>
                                
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-merge input-group-alternative">

                                        <input type="text" asp-for="@Model.Lastname" placeholder="Last Name" class="form-control" />
                                        
                                    </div>
                                    <span asp-validation-for="@Model.Lastname" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-merge input-group-alternative">

                                        <input type="text" asp-for="@Model.Mobile" pattern="[6789][0-9]{9}" title="Please enter valid Mobile number starts with 6,7,8,9 and must contain 10 digits" placeholder=" Mobile Number" class="form-control" />
                                       
                                    </div>
                                    <span asp-validation-for="@Model.Mobile" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        
                                         @Html.DropDownList("City", new List<SelectListItem>
                                        {
                                        new SelectListItem { Text = "Nizamabad", Value = "Nizamabad"},
                                        new SelectListItem { Text = "Karimagar", Value = "Karimagar"},
                                        new SelectListItem { Text = "Hyderabad", Value = "Hyderabad"},
                                        new SelectListItem { Text = "Warangal", Value = "Warangal"},
                                        new SelectListItem { Text = "Nalgonda", Value = "Nalgonda"},
                                        }, "Select City", new { @class = "form-control" })
                                        
                                    </div>
                                    <span asp-validation-for="@Model.City" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <h1 class="form-control">Indian</h1>
                                        <input type="checkbox" id="Indian" asp-for="@Model.Nationality" /><br>                                       
                                        <span asp-validation-for="@Model.Nationality" class="text-danger"></span>                                        
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-merge input-group-alternative">

                                        <input type="datetime-local" asp-for="@Model.Age" placeholder="Age" class="form-control" />
                                       
                                    </div>
                                    <span asp-validation-for="@Model.Age" class="text-danger"></span>
                                </div>
                                
                               
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-merge input-group-alternative">

                                        <input type="email" asp-for="@Model.Email" placeholder="Email" class="form-control" />                                        
                                        
                                    </div>
                                    <td>@Html.ValidationMessageFor(m => @Model.Email, "", new { @class = "text-danger" })</td>
                                </div>                                
                               
                                <div class="text-center">                                    
                                    <input type="submit" class="btn btn-primary my-4" name="btnsubmit" value="Sign Up" />
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary my-4" type="button">Back To Home</a>
                                    <h5 class="text-Black">Have An Account ? Click On Sign In</h5>
                                    <a asp-controller="Users" asp-action="SignIn" class="btn btn-primary my-4" type="button">Sign In</a>
                                </div>
                            </form>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
   
</body>


</html>

